---
title: About
permalink: /about.html
---

<html lang="{{ site.locale }}">
{% include head.html %}
<body>

<div class="header" id="header">
    <div class="wrapper">
        {% include page-header.html %}
    </div>
</div>

<div class="wrapper">
    <div class="content" id="main-content">
        <div class="content-wrapper">
            <!--<div class="page-title"></div>-->
            <h2>About</h2>
            打算在这里记录一些生活上的琐事和自己技术上的研究,目前从事iOS开发,喜欢看NBA,Dota

        </div>
    </div>
</div>

</body>


</html>