
<!--这是文章主题-->

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="progress-bar"></div>
<div class="wrapper blog-wrapper content-wrapper">
    <div class="article">
        <div class="article-menu">
            <div class="article-home">
                <a href="/">{{ site.auther.name }}</a>
            </div>
            <div class="article-back">
                <a href="/"><< Back</a>
            </div>
        </div>
        <div class="article-head">
            <div class="article-title">
                {{ page.title }}
            </div>
            <div class="article-date">
                <time datetime="{{ page.date }}">{{ page.date | date:"%B %d, %Y" }}</time>
            </div>
        </div>
        <div class="article-main">
            {{ content }}
        </div>
        <div class="article-share"
            <!--<div class="article-back">-->
                <!--<a href="/"><< Back</a>-->
            <!--</div>-->
        </div>
        <div id="disqus_thread" class="article-comment"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>
</body>

</html>

